<% user ||= @user %>
<%= bootstrap_form_for @user do |f| %>
  <%= f.text_field :first_name %>
  <%= f.text_field :last_name %>
  <%= f.text_field :food_preferences %>
  <%= f.text_field :ssn, disabled: true %>
  <%= f.check_box :member, disabled: true %>
  <%= f.primary "Update info" %>
<% end %>
