<h1>Set Social Security Number</h1>
<hr>

<%= bootstrap_form_for @user, url: save_ssn_user_path(@user), :method => :post do |f| %>
  <%= f.text_field :ssn, placeholder: 'YYMMDDXXX'%>
  <%= f.submit "Set SSN"%>
<% end %>
