<div class="update-info">
  <%= render 'form' %>
</div>

<h1 class="text-center">My tickets</h1>
<hr>

<% @user.attending_events.each do |event| %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= render 'events/summary', event: event %>
    </div>
  </div>
<% end %>
