<% attendees ||= @attendees %>

<table class="table table-hover">
  <tr>
    <td>First name</td>
    <td>Last name</td>
    <td>SSN</td>
    <td>Has membership</td>
    <td>Food Preferences</td>
  </tr>
  <% attendees.each do |user| %>
    <tr>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.ssn %></td>
      <td class="<%= user.member ? 'success' : 'danger' %>">
        <%= user.member? ? 'Yes' : 'No' %>
      </td>
      <td><%= user.food_preferences %></td>
    </tr>
  <% end %>
</table>
