<% event ||= @event %>
<%= link_to event_path(event), class: "event_summary_link" do %>
  <div class="event_summary">
    <p class="title"><%= event.title %></p>
    <p class="time"><%= format_time(event.start_time) %></p>
    <p class="description">This is a placeholder for a description</p>
  </div>
<% end %>
