<h1>Events</h1>
<hr>

<table class="table">
  <tr>
    <th>Title</th>
    <th>Start time</th>
    <th>End time</th>
  </tr>
  <% @events.each do |event| %>
    <tr>
      <td><%= link_to event.title, event_path(event) %></td>
      <td><%= format_time event.start_time %></td>
      <td><%= format_time event.end_time %></td>
    </tr>
  <% end %>
</table>
