<h1>New Event </h1>
<hr>

<%= bootstrap_form_for @event do |f| %>
  <%= f.text_field :title %>
  <%= f.text_field :start_time, { "data-provide" => "datepicker"  } %>
  <%= f.text_field :end_time, { "data-provide" => "datepicker"  } %>
  <%= f.primary %>
<% end %>
