<h1>Event</h1>
<hr>

<h3>Title</h3> <%= @event.title %>
<h3>Start Date</h3> <%= @event.start_time.strftime("%e %B") %>
<h3>End Date</h3> <%= @event.end_time.strftime("%e %B") %>
<% if can?(:create, Ticket) && !current_user.attending?(@event) %>
  <%= bootstrap_form_for Ticket.new do |f| %>
    <%= f.hidden_field :event_id, :value => @event.id %>
    <%= f.submit "Book ticket" %>
  <% end %>
<% elsif can?(:destroy, Ticket) && current_user.attending?(@event) %>
  <%= bootstrap_form_for @event.tickets.where( user_id: current_user.id).first, :method => :delete do |f| %>
    <%= f.submit "Unbook ticket" %>
  <% end %>
<% end %>

<% if can?(:manage, @event) %>
  <%= link_to "Tickets", tickets_event_path(@event), class: "btn btn-primary"%>
<% end %>
