// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event_summary_link:link,
.event_summary_link:visited,
.event_summary_link:hover,
.event_summary_link:active {
  text-decoration: none;
  color: inherit;
}

.event_summary {
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
  border: 0px solid #000000;
  .time, .title, .description {
    padding: 0.8rem;
  }
  .title {
    font-size: 2em;
  }
  .description {
    text-align: right;
  }
  transition: all .15s ease-in-out;
  &:hover {
    transform: scale(1.01);
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.75);
  }
}
