<%= navbar static: :top do %>
  <%= navbar_header brand: 'Ticket system', brand_link: root_path %>

  <%= navbar_collapse do %>

    <%= navbar_group do %>
      <%= navbar_item 'Events', events_path %>
      <%= navbar_item 'Create event', new_event_path if can?(:create, Event)%>
    <% end %>

    <%= navbar_group align: 'right' do %>
      <%= navbar_item 'My Profile', user_path(current_user) if can?(:show, current_user) %>

      <% if user_signed_in? %>
        <li><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
      <% else %>
        <%= navbar_item 'Log in', new_user_session_path %>
      <% end %>
    <% end %>

  <% end %>

<% end %>
