<!DOCTYPE html>
<html>
  <head>
    <title>Event Ticket System</title>
    <%= csrf_meta_tags %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'application/navbar' %>

    <div class="container">

      <%= render 'application/flash_messages' %>

      <%= yield %>

    </div>

    <%= render 'application/development_helper' if Rails.env.development? %>

  </body>
</html>
